<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- Quick and dirty custom config section: https://stackoverflow.com/a/32637544 -->
    <section name="Games" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <!-- Sets the scaling mode used by Windows Forms. -->
    <!-- See: https://msdn.microsoft.com/en-us/library/system.windows.forms.autoscalemode(v=vs.110).aspx -->
    <add key="AutoScaleMode" value="None"/>

    <!-- If true, uses the Width/Height values below, otherwise defaults to hard-coded dimensions (480x640). -->
    <add key="OverrideDimensions" value="false"/>

    <!-- UI Dimensions (Pixels) -->
    <add key="Width" value="480"/>
    <add key="Height" value="640"/>

    <!-- Display Text -->
    <add key="Title" value="Game Select"/>
    <add key="WaitingText" value="PLEASE WAIT..."/>
    <add key="Footer1" value="Start: [JUMP]"/>
    <add key="Footer2" value="Quit: [P1] + [P2]"/>

    <!-- Display Text Colors; see the System.Drawing.Colors enumeration for values. -->
    <!-- https://msdn.microsoft.com/en-us/library/system.drawing.color(v=vs.110).aspx -->
    <add key="TitleColor" value="CornflowerBlue"/>
    <add key="WaitingTextColor" value="White"/>
    <add key="ItemUnselectedColor" value="White"/>
    <add key="ItemSelectedColor" value="Orange"/>
    <add key="Footer1Color" value="Gray"/>
    <add key="Footer2Color" value="Gray"/>
    
    <!-- The path to the MAME binary. -->
    <add key="MAME" value="C:\Emulators\MAME\mame64.exe"/>
    <add key="MAME_Arguments" value=""/>

    <!-- Key bindings; see the System.Windows.Forms.Keys enumeration for values. -->
    <add key="Up" value="Up"/>
    <add key="Down" value="Down"/>
    <add key="Select" value="Space"/>

    <!-- The index of a game in the list that should be started immediately or when the UI is idle. -->
    <add key="AutoStartGame" value="0"/>

    <!-- If set, the number of seconds to wait before starting the AutoStartGame when the UI is idle. -->
    <add key="AutoStartOnIdle" value="30"/>

  </appSettings>

  <!-- The list of games to display in the user interface. -->
  <!-- Key: Display Text -->
  <!-- MAME Value Format: MAME|rom-name -->
  <!-- Arbitrary Win32 Binary Value Format: EXE|C:\path\to.exe -->
  <Games>
    <add key="Donkey Kong" value="MAME|dkong" />
    <add key="Donkey Kong 2" value="MAME|dkongx" />
    <add key="Donkey Kong Jr." value="MAME|dkongjr" />
    <add key="Donkey Kong 3" value="MAME|dkong3" />
    <add key="Dig Dug" value="MAME|digdug" />
    <add key="Downwell" value="EXE|C:\Emulators\Downwell 1.0.5-Beta\Downwell_v1_0_5.exe" />
    <add key="Galaga" value="MAME|galaga" />
    <add key="Mr. Do" value="MAME|mrdo" />
    <add key="Ms. Pac-Man" value="MAME|mspacman" />
    <add key="Ms. Pac-Man (fast)" value="MAME|mspacmnf" />
  </Games>

</configuration>
