<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Quick and dirty custom config section: https://stackoverflow.com/a/32637544 -->
    <section name="Games" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="OverrideDimensions" value="false"/>
    <add key="Width" value="480"/>
    <add key="Height" value="640"/>
    <add key="Title" value="Game Select"/>
    <add key="Footer1" value="Start: [JUMP]"/>
    <add key="Footer2" value="Quit: [P1] + [P2]"/>
    <add key="MAME" value="C:\Emulators\MAME\mame64.exe"/>
    <add key="Up" value="1"/>
    <add key="Down" value="1"/>
    <add key="Select" value="1"/>
  </appSettings>
  <Games>
    <add key="Donkey Kong" value="MAME|dkong" />
    <add key="Donkey Kong Jr." value="MAME|dkongjr" />
    <add key="Donkey Kong 3" value="MAME|dkong3" />
    <add key="Downwell" value="EXE|C:\Emulators\Downwell\Downwell.exe" />
  </Games>
</configuration>